<!DOCTYPE html>
<html>
<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

</head>
<body>
	 <nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand"  href="/">APPS</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"  ><a href="/">Schedule New Activation</a></li>
		      <li ><a href="/cancel">Search/Cancel Scheduled Activations</a></li>
		    </ul>
		  </div>
		</nav>
	<div class="container">
	  <h2><p class="text-center">Automated Prod-Push Scheduler</p></h2>

	  <br></br>
	  <div id="sub_rev_warning_msg">
	  </div>
	  <h4><p class="text-left">Schedule new Activation</p></h4>
	  <br></br>
	  <form class="form-inline" action ="/scheduler" method="POST">
	  <div id="config_fields">
	  </div>

	  	<div class="row">
	  		<div class="col-md-12">
	  		<div class="form-group">
	  		<div id="config_fields">
	  		</div>
	  		</div>
	  		</div>
	  		<div class="col-md-12">
			  	<div class="form-group">
			      <label for="config_name">Configuration Name:</label>
			      <input type="text" class="form-control" required id="config_name" placeholder="Configuraiton Name" name="config_name_1" value="www.vbhat.com">
			    </div>
			    <div class="form-group">
		      		<label for="config_version">Version:</label>
		      		<input type="number" class="form-control" required id="config_version" placeholder="Verson to activate" name="config_version_1" value="1">
		   	    </div>
      		<div class="form-group">
       			 <button class="btn btn-primary	" type="button"  onclick="config_fields();">Add more configurations</span> </button>
      		</div>

		    </div>
		 </div>

         <br></br>
         <div class="row">
			    <div class='col-md-5'>
			      <div class="form-horizontal">
			      	<label for="actvn_date_time">Activation Date & Time (GMT):</label>
			        <div class='input-group date' id='datetimepicker2'>
			          <input type='text' required class="form-control" name  ="actvn_date_time"/>
			          <span class="input-group-addon">
			          <span class="glyphicon glyphicon-calendar"></span>
			          </span>
			     	</div>
			      </div>
			    </div>

			      <div class="form-horizontal">
         		   	  	<label class="control-label col-sm-2" for="actvn_network">Activation Network :</label>
         		   	    <label class="radio-inline ">
     					 <input type="radio" name="actvn_network" value="production" checked>Production
    					</label>
    					<label class="radio-inline ">
     					 <input type="radio" name="actvn_network" value="staging">Staging
    					</label>
			      </div>
		 </div>
         <div class="row">



			      <div class="form-horizontal">
			      	<label class="control-label col-sm-2" for="actvn_date_time">SDPR Link:</label>
			      	<div class="col-sm-10">
			        	<input type='text' class="form-control" name  ="sdpr_link" id="sdpr_link" required placeholder="" value="https://track.akamai.com/jira/browse/GM-620"/>
			    	</div>
			      </div>
			      <div class="form-horizontal">
			      	<label class="control-label col-sm-2" for="reviewer_email">Reviewer Email:</label>
			        <div class="col-sm-10"><input type='email' class="form-control" name  ="reviewer_email" required id="reviewer_email" placeholder="" value="hmallika@akamai.com"/></div>
			      </div>

			      <div class="form-horizontal">
			      	<label class="control-label col-sm-2" for="reviewer_email">Submitter Email:</label>
			        <div class="col-sm-10"><input type='email' class="form-control" name  ="submitter_email" required id="submitter_email" placeholder="" value="vbhat@akamai.com"/></div>
			      </div>
			      <div class="form-horizontal">
			      	<label class="control-label col-sm-2" for="reviewer_email">Customer Email:</label>
			        <div class="col-sm-10"><input type='email' class="form-control" name  ="customer_email" required id="customer_email" placeholder="" value="customer@customer.com"/></div>
			      </div>
			      <div class="form-horizontal">
			      	<label class="control-label col-sm-2" for="reviewer_email">Notification Email(s):</label>
			        <div class="col-sm-10"><input type='text' class="form-control" name  ="notification_email" required id="notification_email" placeholder="" value="vbhat@akamai.com"/></div>
			      </div>
			      <div class="form-horizontal">
			      	<label class="control-label col-sm-2" for="account_switch_key">Account Switch-Key:</label>
			      	<div class="col-sm-10">
			        	<input type='text' class="form-control" name  ="account_switch_key" id="account_switch_key" required placeholder="" value="1-5C0YLB"/>
			    	</div>
			      </div>
		 </div>

		 			<br></br>

 				 <div class="row">
  					<div class="col-sm-12">
    					<div class="text-center">
      						<button type="submit" id="btn-one" class="btn btn-primary " id="singlebutton">Submit</button>
    					</div>

  					</div>
				</div>
  	  </form>
	</div>

			<script>
			$(function() {
			  $('#datetimepicker2').datetimepicker({
			            format: 'MM/DD/YYYY HH:mm',
			            minDate: moment()
			  });
			});

var room = 1;
var config_number = 1;

function config_fields() {

    room++;
    config_number++;
    var objTo = document.getElementById('config_fields')
    var divtest = document.createElement("div");
  	divtest.setAttribute("class", "form-group removeclass"+room);
  	var rdiv = 'removeclass'+room;
  	divtest.innerHTML = '<div class="row"><div class="col-md-12"><div class="form-group"><label for="config_name">Configuration Name:</label><input type="text" class="form-control" id="config_name" placeholder="Configuraiton Name" name="config_name_'+ config_number +'"></div><div class="form-group"><label for="config_version">Version:</label><input type="number" class="form-control" id="config_version" placeholder="Verson to activate" name="config_version_'+ config_number +'"></div><div class="form-group"><button id="add-more" onclick="remove_config_fields('+ room +');" name="add-more" class="btn btn-primary">Remove</button></div></div></div>';

    objTo.appendChild(divtest)
	}
   function remove_config_fields(rid) {
     $('.removeclass'+rid).remove();
   }

var counter = 1;
$('form').on('submit',function(){
   if($('#reviewer_email').val() == $('#submitter_email').val()){
       //alert('Submitter and Reviewer cannot be same');
       if (counter == 1) {
       	var objTo2 = document.getElementById('sub_rev_warning_msg')
		var divtest2 = document.createElement("div")
		divtest2.innerHTML = '<p class="text-danger" >ERROR: Submitter and Reviewer email cannot be same.</p>';
		objTo2.appendChild(divtest2)
		};
		counter++;
  	return false;
   }
   return true;
});



$('#btn-one').click(function() {
  $('#btn-one').addClass('disabled');
});

			</script>

</body>
</html>
