<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>

<style>

.navbar
{
    background: -webkit-linear-gradient(left, #151414, #106C87);
}

.register {
    background: -webkit-linear-gradient(left, #151414, #106C87);
    #margin-top: 0.5%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
</style>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="btn btn-info navbar-btn" href="/">Schedule Activation</button>
        <button class="btn btn-info navbar-btn" href="/search">Search/Cancel</button>
      </div>
    </div>
  </nav>

<div class="register">
  <div class="row">
      <div class="col-md-3 register-left">
          <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
          <h3>APPS</h3>
          <p>Automated Property Push Scheduler</p>
      </div>
      <div class="col-md-9 register-right">
          <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <h3 class="register-heading">All fields are mandatory.</h3>
                  <div class="row register-form">
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Configuration Name:" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Version:" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Activation Date & Time " value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control"  placeholder="SDPR Link:" value="" />
                          </div>
                          <div class="form-group">
                              <select class="form-control">
                                  <option class="hidden"  selected disabled>Please select the Network</option>
                                  <option>Staging</option>
                                  <option>Production</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Submitter Email:" value="" />
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Reviewer Email:" value="" />
                          </div>
                          <div class="form-group">
                              <input type="email" class="form-control" placeholder="Customer Email:" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control"  placeholder="Notification Email(s):" value="" />
                          </div>
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Account Switch-Key:" value="" />
                          </div>
                          <input type="submit" class="btnRegister"  value="Schedule"/>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  </div>
</div>
</body>
</html>
